body {
    font-family: tajawal,sans-serif!important;
    height: 5000px;
    line-height: 1;
}

.container {
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

@media (min-width: 1400px) {
    .container {
        max-width:1320px
    }
}




#mobile-nav-active::-webkit-scrollbar {
    display: none;
}

#mobile-nav-active {
    scrollbar-width: none;
    overflow-y: scroll;
    scroll-behavior: content;
}
.hidden-scroll::-webkit-scrollbar  {
    display: none;
}
.hidden-scroll{
    scrollbar-width: none;
    overflow-y: scroll;
    scroll-behavior: content;
}

.container {
    margin: auto;
}
header{
    transition: all .2s;
}

.header-top {
    top:0;
}

.nab-back {
    box-shadow: 0 2px 8px 0 rgba(62, 62, 79, 0.23);
    /* background: linear-gradient(89deg, #ec1c3a 3%, #f1556b 98%); */
    background-color: transparent;
}
.desktop-nav {
display: none;
}
.drop-menu-shadow {
    visibility: hidden;
}
#service:hover .drop-menu-shadow {
    transition: all .3s;
    visibility: visible;
    top: 95%;
    opacity: 1;
}
#support .drop-menu-shadow {
    /* visibility: visible; */
    transform: translateX(70%);
}
#support:hover .drop-menu-shadow {
    transition: all .3s;
    visibility: visible;
    top: 95%;
    opacity: 1;
}

#support-mobile-option.active #support-nav-mobile ,
#service-mobile-option.active #service-nav-mobile {
    display: block;
}

/* .mobile-nav {
    display: none;
} */
.mobile-nav nav {
    transition: all .3s;
}
.mobile-nav nav.active {
    top: 0;
}

.mobile-nav nav ul li a:hover ,
.mobile-nav nav ul li a.active {
    color: #fdd700;
}
#menu-mobile-btn.active span:not(:nth-child(2)){
    background-color: #fdd700;
}
#service-nav-mobile.active {
    display: block;
}

@media (min-width:768px) {
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        display: block;
    }
}
.nab-back.fixed-nav {
    background: linear-gradient(89deg, #ec1c3a 3%, #f1556b 98%);
}

.st0,
.st1,.st4 {
    transition: all .2s;
}

.header-top .st0{
    stroke:#FFFFFF;
    /* fill:#FFFFFF; */
}
.header-top .st1,.header-top .st4 {
    fill: #FFFFFF;
}

.list-link-before::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transition: width .2s linear;
}
.list-link-before:hover::before {
    width: 100%;
}

.list-link-before.active::before {
    width: 100%;
}
.list-link-before.active {
    font-weight: 600;
}

/* //* ///////////////////////////////////////////////// */
.landing-home {
    background: url('../images/home_header.webp') no-repeat center;
    background-size: cover;
}


@media (max-width:991px) {
    .banner-landing-page {
        text-align: center;
    }
    .container-btn {
        justify-content: center;
    }
}

@media (max-width:768px) {
    .banner-landing-page {
        text-align: right;
    }
    .landing-home__inner-container {
        padding-inline: 30px;
    } 
    .container-btn {
        justify-content: flex-start;
    }
}

.banner-landing-page h1 {
    margin-top: 25px;
    font-size: 66px;
    color: #ffffff;
    font-weight: bold;
    max-width: 780px;
    margin-bottom: 20px;
}

.banner-landing-page p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    max-width: 660px;
    margin-bottom: 35px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .banner-landing-page h1 {
        font-size: 55px;
    }
    .banner-landing-page p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 767px) {
    .banner-landing-page h1 {
        font-size: 35px;
        max-width: 100%;
    }
    .banner-landing-page p {
        font-size: 16px;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-landing-page p {
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-landing-page h1 {
        font-size: 35px;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .btn {
        padding: 11px 22px;
        font-size: 16px;
    }
}



@keyframes side-effect {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    
    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

/* .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
} */

.shadow-card {
    box-shadow: 0 5px 15px 0 hsla(0,0%,43%,.1);
}
.section-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 70%;
    height: 6px;
    border-radius: 25px;
    background: linear-gradient(89deg,#ec1c3a 3%,#f1556b 98%);
}





.services-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
    background-color: #f6f6f6;
}


.serv-card {
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: all .3s;
    position: relative;
    counter-increment: services;
}
.serv-card:hover {
    transform: translateY(-10px);
}

.serv-card::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: #f1556b;
    position: absolute;
    width: 0;
    transition: .3s;
}
.serv-card:hover::before {
    width: 100%;
}
.serv-card .img {
    margin: 30px auto 20px;
    display: block;
    text-align: center;
    color: #d5d5d5;
    width: 64px;
    height: 64px;
}
.serv-card .img img {
    width: 100%;
    height: 100%;
}
.serv-card h3{
    text-align: center;
    margin: 20px 0 40px;
    font-size: 23px;
    font-weight: 600;
    color: #f1556b;
}
.serv-card .info{
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}
.serv-card .info::before {
    content: "0" counter(services);
    /* content: "0"; */
    position: absolute;
    background-color: #f1556b;
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 85px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.serv-card .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 71px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}
.serv-card .info a {
    /* background-color: #f9f9f9; */
    color: #f1556b;
    font-weight: 600;
}


.triangle {
    content: "";
    display: block;
    border: 1.2em solid transparent;
    border-bottom-color: #f1556b;
    position: absolute;
    left: calc(50% - 1.2em);
    bottom: 0;
}

.step-card-header::before {
        content: "";
        position: absolute;
        display: block;
        height: 4px;
        width: 100%;
        left: 0;
        bottom: 48px;
        z-index: 0 !important;
        background-color: #f1556b;
}



.swiper {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }

  /* .swiper-slide {
    width: 273px !important;
    margin-left: 0 !important;
  } */
.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev{
    width: 50px;
    height: 50px;
    padding: 9px;
    display: flex;
    color: #fff;
    background: #f1556b;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 13%;
    right: 0px !important;
    box-shadow: -3px 1px 13px -3px rgba(000,000,000,0.5);
}

.swiper-button-next{
    width: 50px;
    height: 50px;
    padding: 9px;
    display: flex;
    color: #fff;
    background: #f1556b;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 13%;
    left: 0px !important;
    box-shadow: 3px 1px 13px -3px rgba(000,000,000,0.5);
}
.swiper-pagination {
    bottom: 0 !important;
}